body {
  background-color: #bc0024;
  font-family: "Courier New", Courier, monospace;
}

a {
  font-size: larger;
}

.input-general {
  border: 1px solid #ccc;
  width: 200px;
}

.textarea {
  /* fixed size */
  max-width: 200px;
  min-width: 200px;
  max-height: 100px;
  min-height: 100px;
}

.add-form{
  margin-bottom: 2em !important;
}

.button-success, .button-error, .button-warning, .button-secondary {
  color: papayawhip;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: #bc0024;
  color: white;
}

.button-secondary a:link {
  color: white;
}

.button-secondary a:visited {
  color: whitesmoke;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 120%;
}

.button-xlarge {
  font-size: 160%;
}

.text-quote {
  font-size: larger;
}

.top-section {
  grid-area: header;
}

.left-section {
  grid-area: menu;
}

.main-section {
  grid-area: main;
}

.right-section {
  grid-area: right;
}

.bottom-section {
  grid-area: footer;
}

.grid-container {
  display: grid;
  border-radius: 10px;
  grid-template-areas: "header header header header header header" "menu main main main right right" "menu footer footer footer footer footer";
  grid-gap: 20px;
  background-color: white;
  margin: 50px 50px 50px 50px;
  padding: 20px 50px 20px 50px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
}

div.ui-menu li {
  list-style: none;
  background-image: none;
  background-repeat: none;
  background-position: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 14px;
}