{% extends "layout.html" %} {% block title %}syntagmas{% endblock %} {% block
content %} {% block top %}
<h1>Add a new syntagma</h1>
{% endblock %} {% block left %}
<p>
  <button class="button-secondary button-large">
    <a id="btnHome" href="{{url_for('welcome')}}">home</a>
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    <a href="{{url_for('syntagmas')}}">back</a>
  </button>
</p>
{% endblock %} {% block main%}
<form method="post">
  <table class="add-form">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>syntagme</td>
      <td><textarea type="text" name="title" autofocus class="textarea input-general"></textarea></td>
    </tr>
  </table>
  <button class="button-secondary button-xlarge" type="submit">Create</button>
</form>
{% endblock %}} {% endblock %}