{% extends "layout.html" %} {% block title %}Cahier rouge{% endblock %} {% block
content %} {% block top %}
<h1>Add a new quotation</h1>
{% endblock %} {% block left %}
<p>
  <button class="button-secondary button-large">
    <a href="{{url_for('welcome')}}">Home</a>
  </button>
</p>
{% endblock %} {% block main %}
<form method="post">
  <table class="add-form">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>title</td>
      <td><input type="text" name="title" class="input-general" autofocus /></td>
    </tr>
    <tr>
      <td>author</td>
      <td><input type="text" name="author" class="input-general"/></td>
    </tr>
    <tr>
      <td>quotation</td>
      <td><textarea  id="quote-field" class="textarea input-general" type="text" name="quote"></textarea></td>
    </tr>
    <tr>
      <td>page</td>
      <td><input type="text" name="page" class="input-general"/></td>
    </tr>
  </table>
  <button class="button-secondary button-large" type="submit">Create</button>
</form>
{% endblock %} {% endblock %}
