{% extends "layout.html" %} {% block title %}Citation{% endblock %} {% block
content %} {% block top %}
<h1>{{ card.title }}</h1>
<h2>by: {{ card.author }}</h2>
{% endblock %} {% block left %}
<p>
  <button class="button-secondary button-large">
    <a href="{{ url_for('welcome')}}">Home</a>
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    <a href="{{ url_for('modify_card', index = index) }}">modify</a>
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    {% if 1 < index %} <a id="btnPreviousCard" href="{{ url_for('card_view', index = index - 1) }}">previous card</a>
      {% else %}
      <a href="{{ url_for('card_view', index = max_index) }}">most recent card</a>
      {% endif %}
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    {% if index < max_index %} <a id="btnNextCard" href="{{ url_for('card_view', index = index + 1) }}">next card</a>
      {% else %}
      <a href="{{ url_for('card_view', index = 0) }}">start over</a>
      {% endif %}
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    <a id="btnAddCard" href="{{ url_for('add_card') }}">Add a new card('a')</a>
  </button>
</p>
{% endblock %} {% block main %}<span class="text-quote"> {{ card.quote }}</span>
{% endblock %} {% block right %}
<p>{{ "page: " ~ card.page }}</p>
<p>last modification:</p>
<p>{{ card.date }}</p>
<script type="text/javascript" src="{{ url_for('static', filename='card.js') }}"></script>
{% endblock %} {% endblock %}