<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='basic.js') }}"
    ></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="top-section">{% block top %}{% endblock %}</div>
      <div class="left-section">{% block left %}{% endblock %}</div>
      <div class="main-section">{% block main %}{% endblock %}</div>
      <div class="right-section">{% block right %}{% endblock %}</div>
      <div class="bottom-section">{% block bottom %}{% endblock %}</div>
    </div>
  </body>
</html>
