{% extends "layout.html" %} {% block title %}Cahier rouge{% endblock %} {% block
content %} {% block top %}
<h1>modify a quote</h1>
{% endblock %} {% block left %}
<p>
  <button class="button-secondary button-xlarge">
    <a href="{{url_for('welcome')}}">Home</a>
  </button>
</p>
{% endblock %} {% block main %}
<form method="post">
  <input type="hidden" name="uuid" value="{{ card.uuid }}" />
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>title</td>
      <td><input type="text" name="title" value="{{ card.title }}" /></td>
    </tr>
    <tr>
      <td>author</td>
      <td><input type="text" name="author" value="{{ card.author }}" /></td>
    </tr>
    <tr>
      <td>quotation</td>
      <td>
        <input
          id="quote-field"
          type="text"
          name="quote"
          value="{{ card.quote }}"
        />
      </td>
    </tr>
    <tr>
      <td>page</td>
      <td><input type="text" name="page" value="{{ card.page }}" /></td>
    </tr>
  </table>
  <button class="button-secondary button-large" type="submit">modify</button>
</form>
{% endblock %} {% endblock %}
