{% extends "layout.html" %} {% block title %}syntagmas{% endblock %} {% block
content %} {% block top %}
<h1>syntagmas</h1>
{% endblock %} {% block left %}
<p>
  <button class="button-secondary button-large">
    <a id="btnHome" href="{{ url_for('welcome')}}">Home</a>
  </button>
</p>
<p>
  <button class="button-secondary button-large">
    <a class="btnAdd" id="btnAddSyntagma" href="{{ url_for('add_syntagme') }}"
      >add a new syntagma</a
    >
  </button>
</p>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='syntagma.js') }}"
></script>
{% endblock %} {% block main %} {% for card in cards %}
<span class="text-quote"> {{ card.title ~ ";" }} </span>
{% endfor %} {% endblock %} {% endblock %}
