{% extends "layout.html" %} {% block title %}Cahier rouge{% endblock %} {% block
top %}
<h1>Le Cahier rouge</h1>
{% endblock%} {% block left%}
<p>
  <button class="button-secondary button-large">
    <a href="{{ url_for('add_card') }}">Add a new card</a>
  </button>
</p>
{% endblock %} {% block main%}
<ul>
  {% for card in cards %}
  <li>
    <a href="{{ url_for('card_view', index=loop.index0) }}">
      {{ card.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %} {% block right %} 'Syntagmas'(linguistics) In linguistics, a
syntagma is an elementary constituent segment within a text. Such a segment can
be a phoneme, a word, a grammatical phrase, a sentence, or an event within a
larger narrative structure, depending on the level of analysis. Syntagmatic
analysis involves the study of relationships (rules of combination) among
syntagmas.
<p>
  <button class="button-secondary button-large">
    <a href="{{url_for('syntagmas')}}">syntagmas</a>
  </button>
</p>
{% endblock %}